.byebug_history
.DS_Store
.env
.env.development
.env.sample
.sass-cache
.yarn-integrity
*.crt
*.key
*.log
*.orig
*.sw[pon]
*.tar.gz
*.tmp
*~
/.bundle
/coverage/*
/log/*
/node_modules
/public/assets
/public/javascripts
/public/packs
/public/packs-test
/storage
/tmp/*
/vendor/*
/yarn-error.log
capybara-email-*.html
dump.rdb
screenshot_*
yarn-debug.log*

!.keep

/app/assets/builds/*
!/app/assets/builds/.keep
